@charset "utf-8";
#menu {
	padding: 0;
	margin-left: 550px; /*change this to move the left margin */
}

#menu li {
	list-style-type: disc; /*this change the bullet point appearance*/
}

.Main-Picture img { 
	margin: auto;
	padding: auto;
	text-align: center;
}

.Main-Picture p.block {
	display: block;
	margin: content;
	padding: auto;
	text-align: center;
	font-size: 30px;
	
}

.Me a{
	margin: auto;
}

