.header ul {
	margin: auto;
}

.Main-Picture img { 
	margin: auto;
	text-align: center;
}

.Main-Picture p.block {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 30px;
}

.Me a{
	margin: auto;
}
