.header ul {
	font-size: 18px;
	margin: auto;
}

.Main-Picture img.block-img {
	display: block; 
	margin: auto;
	text-align: center;
}

.Main-Picture p.block {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 30px;
}

.Me a{
	position: center;
	padding: auto;
}
