.header ul {
	font-style: bold;
	font-size: 18px;
	position: center;
}

.Main-Picture img {
	background-image: center;
}

.Main-Picture p {
	padding-left: 150px;
	font-size: 50px;
	font-style: bold;
}

.Me a{
	position: center;
	padding: auto;
}
